






Jinja2==2.11.1

Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0

Pillow>=7.0.0




alembic==0.8.10
backports.weakref==1.0rc1
bleach==1.5.0
click==6.7
decorator==4.0.11
Flask>=0.12.3

gunicorn==19.7.1

itsdangerous==0.24

Keras==2.0.8
Mako==1.0.6
Markdown==2.6.9
MarkupSafe==0.23
mock==2.0.0
numpy
packaging==16.8
pandas==0.20.3

scikit-learn==0.19.0
scipy==0.19.1
six==1.10.0
sklearn==0.0
SQLAlchemy>=1.1.5
sqlalchemy-migrate==0.10.0
sqlparse==0.2.2
Tempita==0.5.2

tensorflow-tensorboard==0.1.6


