Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0


Werkzeug==0.15.5
numpy>=1.9.2
scipy>=0.15.1
scikit-learn>=0.18
matplotlib>=1.4.3
pandas>=0.19
Flask-Cors==3.0.8
gast==0.3.3



Jinja2==2.11.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.2.1
MarkupSafe==1.1.1

Pillow>=7.0.0
protobuf==3.11.3
PyYAML==5.3.1

tensorboard==1.14.0
tensorflow
tensorflow-estimator==1.14.0
termcolor==1.1.0
